@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');

:root{
    /* text */
    --dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);

    /* background gradient */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240,73%,65%);

    /* shadow */
    --box-shadow: rgba(43, 43, 116, 0.301);
    --img-shadow: rgba(76, 23, 112, 0.061);

    /* text */
    --very-dark-grayish-blue: hsl(337,12%,33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);

    /* dividers */
    --light-grayish-blue: hsl(240,5%, 91%);
    font-family: 'Kumbh Sans'
    
}

h1{
    font-weight:700;
}

body{
    background: linear-gradient(var(--soft-violet), var(--soft-blue));
    margin-top: 150px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#whiteBox{
    background: white;
    width: 75%;
    margin: auto;
    border-radius: 1.8em;
    display: flex;
    align-items: center;
    box-shadow: 0 20px 20px 0 var(--box-shadow);

}

#desktopOut{
    position: absolute;
    margin-left: -94px;
    margin-top: 70px;
    z-index: 2;

}

#desktopIn{
    margin-left: -60px;
    position: relative;
    padding: 10px 0 40px 0;
}
#desktopShadow{
    position: absolute;
    left:-555px;
    top:-330px;
    z-index: 1;

}
.cropImage{
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    max-width:60%;
    height: auto;
    padding: 25px 0 25px 0;
}
.faq{
    margin: 0 140px 0 140px;
    color: var(--dark-desaturated-blue);
    width: 100%;
    max-width: 800px;
}


.element{
    border-bottom: 1px solid var(--light-grayish-blue);
    font-size: 12px;
}
.question{
    font-size:120%;
    padding-bottom: 20px;
    padding-top:20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
}
.question:hover{
    font-weight:700;
    cursor: pointer;
}
.selected{
    font-weight:700;
}
.arrow.selected{
    transform: rotate(180deg);
    padding-left:0;
    padding-right: 20px;

}
.arrow{
    width:10px;
    height:7px;
    padding-left: 20px;
}

.answer{
    color: var(--very-dark-grayish-blue);
    padding-bottom:10px;
    display:none;
}

.attribution { font-size: 11px; text-align: center; padding-top: 30px;}
.attribution a { color: hsl(228, 10%, 70%); }

@media(max-width: 1000px){
    .faq{
        margin: 30px 30px 50px 30px;
    }
    
}

@media(max-width: 640px){
    #whiteBox{
        flex-direction: column;
        width: 90%;
    }
    h1{
        text-align: center;
    }
    #mobile{
        margin-top: -110px;
        position: relative;
        -webkit-filter: drop-shadow(0 30px 0 var(--img-shadow));
        filter: drop-shadow(0 30px 0 var(--img-shadow));
        
    }
    #whiteBox{
        padding: 0 15px 0 15px;
    }
}

